# === Eclipse ===
.metadata/
*.log
*.tmp
*.bak
*.swp
*.swo
*.DS_Store
*.class
*.prefs
*.launch
*.ser
*.iml
.settings/
.project
.classpath

# === Maven ===
target/

# === Node / Angular ===
node_modules/
dist/
.angular/

# === OS / editor ===
Thumbs.db
ehthumbs.db
*.sublime-workspace
*.sublime-project

# === Backup ===
*.orig
*.rej
*.bak
